<h1> Welcome to Tudor Connect </h1>

<div class="background_img">
	<%= image_tag "1.jpg"%>
</div>


<% if current_user? %>
	<h1> <%= link_to("Enter", controller: "buildings", action: "show", id: @user.building_id)%> </h1>
<% else %>
	<h1> <%= link_to("Login", login_path) %> </h1>
<% end %>

<h4> <%= link_to("Forgot your password?", controller: "users", action: "reset") %> </h4>