<h1> <%= @building.address %> </h1>

<div class="building_menu">
	<nav>
		<ul>
			<li>Monthly Financials</li>
			<li>Contact Property Manager</li>
			<li>Renovation Forms</li>
			<li>Elections/Proxies</li>
			<li>Newsletter</li>
		</ul>
	</nav>
</div>