<h1> <%= @building.address %> </h1>


<% if @user.building_id == 1 %>
	<%= link_to "Admin", building_admin_path %>
<% end %>

<% @posts.each do |post| %>
	<div class="post">
		<%= link_to(post.title, controller: "posts", action: "show", id: post.id)%>
		<%= post.created_at.strftime("%B/%d/%Y") %>
	</div>
<% end %>